{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row my-5">
        {% if foods %}
        <div class="col-md-8">
            {% for food in foods %}
                <div class="card mb-3" >
                    <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{food.photo.url}}" class="rounded-start" alt="..." height="175px" width="100%">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                        <h5 class="card-title"> {{food.name}}</h5>
                        <p class="card-text">quantity:{{food.quantity}}</p>
                        <p class="card-text">price:{{food.price}}</p>
                        <div class="text-end">
                            <a href="{% url 'delete_cart_item' food.id %}" class="btn btn-sm btn-outline-danger">delete</a>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>   

            {% endfor %}
         </div>
        <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h1 class="h1 text-center">Total price </h1>
                        <h3 class="h3 text-center">rs {{total_price}}</h3>
                        <a href="{% url 'check_out' %}" class="btn btn-primary w-100">Check out</a>
                    </div>
                </div>
         </div>
      
        {% else %}
        <div class="text-center">CArt is empty</div>
        {% endif %}
    </div>
</div>
{% endblock content %}
