{% extends 'base.html' %}
{% block content %}
    {% comment %} <h1>menu</h1>
    <ul>
    {% for c in cuisine %}
        <li>{{c}}</li>
    {% endfor %}
    </ul>
    {% for food in foods %}
    {{food.name}}-{{food.price}}<br>
    {% endfor %} {% endcomment %}

    <div class="container">
        <div class="row">
            {% for food in foods%}
                <div class="col-md-2 col-6">
                    <div class="card my-2">
                        <img src="{{food.image.url}}" alt="" class="card-top-img" height="120px">
                        <div class="card-body">
                            <h5 class="h5">{{food.name}}</h5>
                            <p class="card-text">{{food.price}}</p>
                            <a href="{% url 'details' food.id %}" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}