{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'bs/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>silicon cafe</title>
    {% block css %}

    {% endblock css %}
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
         
          <a class="navbar-brand" href="#"><i class="fa fa-fw fa-home"></i>SITCAFE</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'about_us' %} ">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'contactus' %} ">contact us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'menu' %} ">menu</a>
              </li>
              
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'cart' %} ">Cart</a>
              </li>
             
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  welcome,{{user.username}}
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'orders' %}">Orders</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'signout' %}">Logout</a></li>
                </ul>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'signup' %} ">sign Up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'signin' %} ">sign In</a>
              </li>
              {% endif %}
              {% comment %} <li class="nav-item">
                <form class="add_your_class" method="GET" action="" >
                  <input class="add_your_class" type="search" name="search"> 
                  <button class="btn btn-light" type="submit"> Search </button>
              </form>
              </li>
            {% endcomment %}
            </ul>
          </div>
        </div>
      </nav>


    {% block content  %}

    {% endblock content  %}
    <footer class="bg-dark p-5 text-center text-light">
    &copy;2022,TUSHAR | ALL RIGHTS RESERVED.
    </footer>
    {% block extrajs %}
    {% endblock extrajs %}

    <script src="{% static 'bs/bootstrap.bundle.js' %}"></script>
</body>
</html>